.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  margin-bottom: 20px;

  border: 1px solid #ccc;
  border-radius: 6px;

  font-size: 14px;
  outline: none;

  transition: border 0.2s;
}

.search-input:focus {
  border-color: #2563eb;
}